@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat:wght@300;400&display=swap');

/* Polices 
font-family: 'Baskervville', serif;
font-family: 'Modak', cursive;
font-family: 'Yeseva One', cursive;
font-family: 'Jost', sans-serif;
*/

body {
    font-family: 'Montserrat', sans-serif;
}

.hero {
    height: 75vh;
    background-color: #d9e8b5be;
    color: #db95e9;
}

.img-fluid {
    width: 70%;
    max-width: 400px;
}

h1 {
    font-size: 5em;
    font-family: 'Calistoga', cursive;
}

h2  {
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.amanda {
    font-family: ;
}


